.page {
    background-color: lightblue;
    font-family: Courier New, Courier, monospace;
}

.title {
    width:100%;
}

.menu-bar {
    width:100%;
    background-color: black;
    color:white;
}

.menu-item {
    margin-left: 1rem;
    margin-right: 1rem;
}
.art {
    width:100%;
}